* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.Upper-Content{
    background-color: whitesmoke;
    width: 100%;
    height: 85px;
}

.Nav-Bar {
    display: flex;
    align-items: center;
    height: 85px;
    font-size: 30px;
    padding: 0 30px; 
    font-family: Tahoma;
}


.Brand-Name {
    font-size: 50px;
    margin-left: 15px;
}

.Nav-Links {
    margin-left: 8%;
}

.Nav-Links ul {
    list-style: none;
    display: flex;
    gap: 150px; 
    margin: 0;
    padding: 0;
}

    
.Nav-Links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.Nav-Links a:hover {
    color: #00704A; 
}


.Logo img {
    width: 70px;
    height: 70px;
}

.Search-Content {
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Search-Input{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 16px;
    background: lightgrey;
    justify-content: center;
}

.search-input {
    font-size: 16px;
    font-family: Tahoma;
    color: black;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
}

.Contents{
    display: flex;
    width: 100%;
}

.Left-Content {
    display: flex;
    background-color: lightslategray;
    width: 50%;
    min-height: calc(100vh - 135px);
    margin: 0;
    padding: 0;
}

.Right-Content {
    display: flex;
    background-color: grey;
    width: 50%;
    min-height: calc(100vh - 135px);
    margin: 0;
    padding: 0;
}