* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.Upper-Content{
    background-color: whitesmoke;
    width: 100%;
    height: 85px;
}

.Nav-Bar {
    display: flex;
    align-items: center;
    height: 85px;
    font-size: 30px;
}

.Brand-Name {
    font-size: 50px;
    margin-left: 30px;
}

.Nav-Links ul {
    list-style: none;
    display: flex;
    gap: 80px;
    margin-left: 400px;
    padding: 0;
}
    
.Nav-Links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.Nav-Links a:hover {
    color: #00704A; 
}


.Logo {
    margin-left: 50px;
}

.Search-Bar {
    width: 100%;
    background-color: red;
    height: 60px;
}

.Contents{
    display: flex;
    width: 100%;
}

.Left-Content {
    display: flex;
    background-color: blue;
    width: 50%;
    min-height: calc(100vh - 135px);
    margin: 0;
    padding: 0;
}

.Right-Content {
    display: flex;
    background-color: purple;
    width: 50%;
    min-height: calc(100vh - 135px);
    margin: 0;
    padding: 0;
}